nav {
  background-color: white;
  padding: 1rem 2rem;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(1rem);
  box-shadow: 0 0.2rem 0.9rem #47acfe;
}

.nav-content {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--primary-blue);
  text-decoration: none;

  letter-spacing: 0.06rem;
  transition: color 0.3s;
  text-shadow: 0 0 3rem var(--primary-blue);
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
  text-shadow: 0 0 3rem #ffffff;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.1rem;
  background-color: var(--primary-blue);
  transition: width 0.3s;
}

.nav-links a:hover {
  color: var(--primary-blue);
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-buttons {
  display: flex;
  gap: 1rem;
}

.nav-btn {
  background-color: transparent;
  color: var(--primary-blue);
  border: none;
  box-shadow: 0 0 0.6rem;
  padding: 0.5rem 1rem;
  border-radius: 6rem;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  text-shadow: var(--shadow-blue);
}
.nav-btn:hover {
  background-color: var(--primary-blue);
  color: #ffffff;
  box-shadow: var(--shadow-blue);
}

.nav-btn.primary {
  background-color: var(--primary-blue);
  color: #ffffff;
  box-shadow: var(--shadow-blue);
}

.nav-btn.primary:hover {
  background-color: transparent;
  color: var(--primary-blue);
  box-shadow: var(--shadow-blue);
}

.search-bar {
  width: 20rem;
  border-radius: 6rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: transparent;
  color: var(--primary-blue);
  border: none;
  box-shadow: var(--shadow-blue);
  text-align: left;
  cursor: text;
  transition: all 0.3s ease;
}

.search-bar::placeholder {
  color: var(--primary-blue);
  opacity: 0.5;
}

.search-bar:focus {
  outline: 2px solid var(--primary-blue);
  box-shadow: var(--shadow-blue-hover);
}
